{{!< default}}
<article class="post-wraper">
{{#post}}
  {{content}}
  <p class="post-sign">
    -- {{author}}
    <time class="post-date" datetime="{{date format="YYYY-MM-DD"}}">
      {{date format="DD MMMM YYYY"}}
    </time>
  </p>
{{/post}}
</article>
